<h3><%=@event.event_name%></h3>

<%if @event.is_team == 't'%>
  <h4>Team event</h4>
  <p class="show"><a href="/events/<%=@event.id%>/edit">Edit/delete event</a></p>
  <%if @event.has_result? == true%>
  <h4>Gold medal winners: </h4>
  <p><a href="/nations/<%=@event.result.team_gold_medal_winner.id%>"><%=@event.result.team_gold_medal_winner.nation_name%></a></p>
  <%@gold_athletes.each do |athlete|%>
    <p><a href="/athletes/<%=athlete.id%>"><%=athlete.pretty_name%></a></p>
    <%end%>
  <h4>Silver medal winners: </h4>
  <p><a href="/nations/<%=@event.result.team_silver_medal_winner.id%>"><%=@event.result.team_silver_medal_winner.nation_name%></a></p>
  <%@silver_athletes.each do |athlete|%>
    <p><a href="/athletes/<%=athlete.id%>"><%=athlete.pretty_name%></a></p>
    <%end%>
  <h4>Bronze medal winners: </h4>
  <p><a href="/nations/<%=@event.result.team_bronze_medal_winner.id%>"><%=@event.result.team_bronze_medal_winner.nation_name%></a></p>
  <%@bronze_athletes.each do |athlete|%>
    <p><a href="/athletes/<%=athlete.id%>"><%=athlete.pretty_name%></a></p>
    <%end%>
    <p><a href="/team_event_results/<%=@event.result.id%>/edit">Edit result</a></p>
  <%else%><p>No result has been recorded for this event</p>
  <p><a href="/team_event_results/new/?event=<%=@event.id%>">Register result</a></p>
  <%end%>
  <%else%>
  <h4>Individual event</h4>
  <p><a href="/events/<%=@event.id%>/edit">Edit/delete event</a></p>
  <%if @event.has_result? == true%>
  <p>Gold medal winner: </p><a href="/athletes/<%=@event.result.ind_gold_medal_winner.id%>"><%=@event.result.ind_gold_medal_winner.pretty_name%></a>
  <p>Silver medal winner: </p><a href="/athletes/<%=@event.result.ind_silver_medal_winner.id%>"><%=@event.result.ind_silver_medal_winner.pretty_name%></a>
  <p>Bronze medal winner: </p><a href="/athletes/<%=@event.result.ind_bronze_medal_winner.id%>"><%=@event.result.ind_bronze_medal_winner.pretty_name%></a>
  <%else%><p>No result has been recorded for this event</p>
  <p><a href="/individual_event_results/new?event=<%=@event.id%>">Register result</a></p>
  <%end%>
  <%if @event.has_result? == true%>
  <p><a href="/individual_event_results/<%=@event.result.id%>/edit">Edit result</a></p>
  <%end%>
  <%end%>

<%if @event.is_team == 't' && @competing_nations.length >0%>
<h4>Competitors</h4>
<%@competing_nations.each do |nation|%>
  <p><a href="/nations/<%=nation.id%>"><%=nation.nation_name%></a></p>
  <%Participation.national_athletes(@event.id, nation.id).each do |athlete|%>
  <p><a href="/athletes/<%=athlete.id%>"><%=athlete.formal_name%><a></p>
  <p><a href="/participations/<%=athlete.participation(@event.id).id%>/edit">Edit/delete registration</a><p>
  <%end%>
<%end%>
<%elsif @event.is_team == 'f' && Participation.event_athletes(@event.id).length > 0%>
<h4>Competitors</h4>
  <%Participation.event_athletes(@event.id).each do |athlete|%>
  <p><a href="/athletes/<%=athlete.id%>"><%=athlete.formal_name%></a></p>
  <p><a href="/participations/<%=athlete.participation(@event.id).id%>/edit">Edit/delete registration</a><p>
  <%end%>
<%end%>

<p><a href="/participations/new">Add competitor</a></p>







