<table>
<caption>RIO 2016 NATION MEDALS TABLE</caption>
<thead>
<tbody>
<tr>  
<th scope="col"></th>
<th scope="col"></th>
<th scope="col">Gold</th>
<th scope="col">Silver</th>
<th scope="col">Bronze</th>
<th scope="col">Points</th>
</tr>
</thead>
<%@table_rows.each_with_index do |row, index|%>
<%if index.even?%>
<tr class="one">
  <td><%=row[0]%></td>
  <td><a href="/nations/<%=row[6]%>"><%=row[1]%></a></td>
  <td><%=row[2]%></td>
  <td><%=row[3]%></td>
  <td><%=row[4]%></td>
  <td><%=row[5]%></td>
  </tr>
<%else%>
<tr class="two">
  <td><%=row[0]%></td>
  <td><a href="/nations/<%=row[6]%>"><%=row[1]%></a></td>
  <td><%=row[2]%></td>
  <td><%=row[3]%></td>
  <td><%=row[4]%></td>
  <td><%=row[5]%></td>
  </tr>
<%end%>
<%end%>
</tbody>
<tfoot class="three"><tr><td colspan="2">Olympic nations ranked in terms of points earned for medal attainment at Rio 2016</td></tr></tfoot>
</table>


<% #@orders.each_with_index do |order, index| %>
<%# if index.even?%>

