<h3><%=@nation.nation_name%></h3>

<p><a href="/nations/<%=@nation.id%>/edit">Edit/delete nation</a></p>

<%if @nation.won_golds? == true%>
<p>Gold medals: <%=@nation.number_of_golds%></p>
<%end%>

<%if @nation.won_silvers? == true%>
<p>Silver medals: <%=@nation.number_of_silvers%></p>
<%end%>

<%if @nation.won_bronzes? == true%>
<p>Bronze medals: <%=@nation.number_of_bronzes%></p>
<%end%>


<%if @nation.won_golds? == true%>
<h4>Gold medal events: </h4>
<%@gold_results.each do |result|%>
<p><a class ="wonevent" href="/events/<%=result.event.id%>"><%=result.event.event_name%></a></p>
<%end%>
<%end%>

<%if @nation.won_silvers? == true%>
<h4>Silver medal events: </h4>
<%@silver_results.each do |result|%>
<p><a class="wonevent" href="/events/<%=result.event.id%>"><%=result.event.event_name%></a></p>
<%end%>
<%end%>

<%if @nation.won_bronzes? == true%>
<h4>Bronze medal events: </h4>
<%@bronze_results.each do |result|%>
<p><a class="wonevent" href="/events/<%=result.event.id%>"><%=result.event.event_name%></p>
<%end%>
<%end%>

<h4>Registered events </h4>
  <%@events.each do |event|%>
  <p><a href="/events/<%=event.id%>"><%=event.event_name%></a></p>
  <%end%>


<h4>All athletes </h4>
  <%@athletes.each do |athlete|%>
  <p><a href="/athletes/<%=athlete.id%>"><%=athlete.formal_name%></a></p>
  <%end%>












